<div class="speed-widget-container">
  <canvas id='canvas-speed' width='300' height='200'></canvas>
  <p class="speed">{{velocity?.linear?.x | number : '1.2-2'}}</p>
  <p class="speed-label">{{speedLabel}}</p>
  <p class="some-label">PWR RDY {{randomOne | number: '1.2-2'}} {{randomTwo | number: '1.2-2'}}</p>
  <p class="some-label-2">NGN RDY {{randomThree | number: '3.0-0'}} {{randomFour | number: '3.0-0'}}</p>
</div>

<div class="angular-widget-container">
  <canvas id='canvas-angular' width='300' height='200'></canvas>
  <p class="speed">{{velocity?.angular?.z | number : '1.2-2'}}</p>
  <p class="speed-label">ANGULAR </p>
  <p class="some-label">{{angularLabel}} </p>
  <p class="some-label-3">ANG θ ON {{randomTwo | number: '3.0-0'}} {{randomThree | number: '3.0-0'}}</p>
</div>

