<!--The content below is only a placeholder and can be replaced.-->
<div class="app" style="text-align:center">
  <div fxLayout="row" style="margin-bottom: 100px">
    <app-topbar fxFill></app-topbar>
  </div>

  <div fxLayout="row" fxLayoutAlign="left">
    <app-camview fxFlex="40" fxFlexOffset="10"></app-camview>
    <div fxFlex="30" class="custom-border position-container"
         style="border: 1px solid #DC5601;  border-top: none;  border-radius: 10px;">
      <div class="custom-card-heading"><span class="heading">POSITION</span></div>
      <app-map></app-map>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly top" style="margin-top: 60px;">
    <div fxFlex="25" class="custom-border-2">
      <div class="custom-card-heading-2"><span class="heading-2">BUMPERS</span></div>
      <app-bumpers></app-bumpers>
    </div>

    <div fxFlex="25" class="custom-border" style="border-color: #CE9812">
      <div class="custom-card-heading"><span class="heading">VELOCITY</span></div>
      <div class="custom-font">
        <app-speed-widget></app-speed-widget>
      </div>
    </div>

    <div fxFlex="25" class="custom-border position-container" style="border-color: #cf9468">
      <div class="custom-card-heading"><span class="heading">POSITION</span></div>
      <div class="custom-font">X = {{position?.position?.x | number : '1.4'}}</div>
      <div class="custom-font">Y = {{position?.position?.y | number : '1.4'}}</div>
      <app-movement-indicator></app-movement-indicator>
      <!--div class="custom-font">Position Z: {{position?.position?.z | number : '1.4'}}</div-->
    </div>
  </div>

</div>

