<div>
  <canvas id='canvas-bumpers' width='200' height='200'></canvas>
</div>

<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div class="stuff-container" fxFlex="30">
    <span>{{randomBump | number: '2.0-0'}}</span>
  </div>

  <div class="stuff-container" fxFlex="30">
    <span>{{randomBump2 | number: '2.0-0'}}</span>
  </div>
</div>

<div class="status-container">
  <span
    class="status">STATUS </span><span>{{randStatus | number: '2.0-0'}} {{randStatus*2.31-17 | number: '2.0-0'}}</span>
</div>
<span class="warning">{{collisionLabel}}</span>
