/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Teko');

body {
  font-family: 'Teko', sans-serif;
  background-color: black;
  margin: 0px;
}

.custom-font {
  color: wheat;
  font-size: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 40px;
  color: wheat;
  line-height: 150px;
  text-align: center;
  background: #9b3c3ccc;
  cursor: pointer;
}

.margin-top-50 {
  margin-top: 50px;
}
