/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Teko');

body {
  font-family: 'Teko', sans-serif;
  background-color: black;
  margin: 0px;
}

.custom-font {
  color: wheat;
  font-size: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 40px;
  color: wheat;
  line-height: 150px;
  text-align: center;
  background: #9b3c3ccc;
  cursor: pointer;
}

.margin-top-50 {
  margin-top: 50px;
}

.custom-border {
  border: 1px solid #6E00EB;
  border-top: none;
  border-radius: 10px;
}

.custom-card-heading {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-bottom: 5px;
}

.custom-border:nth-of-type(1) > .custom-card-heading {
  background: #6E00EB;
}

.custom-border:nth-of-type(2) > .custom-card-heading {
  background: #CE9812;
  margin-bottom: 20px;
}

.custom-border:nth-of-type(3) > .custom-card-heading {
  background: #cf9468;
  margin-bottom: 20px;
}

.custom-border:nth-of-type(1) .heading {
  background-color: black;
  color: #6E00EB;
}

.custom-border:nth-of-type(2) .heading {
  background-color: black;
  color: #CE9812;
}

.custom-border:nth-of-type(3) .heading {
  background-color: black;
  color: #cf9468;
}

.heading {
  padding: 0 5px;
}

.position-container .custom-font {
  font-size: 25px;
}

.position-container .custom-font:nth-of-type(2) {
  background-color: #A2A53025;
}

.position-container .custom-font:nth-of-type(3) {
  background-color: #564FFF25;
}

.camera-container {
  background-color: #6E00EB !important;
}
