/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Teko');

body {
  font-family: 'Teko', sans-serif;
  background-color: black;
  margin: 0px;
}
